*.obj
*.log
*.tlog
*.user
*.txt
*.idb
*.pdb
*.suo


#ignore everything, then whitelist as necessary:
*
!Helios/
!Helios/Data/
!Release/
!Debug/

!*.cpp
!*.h
!*.sln
!*.suo
!*.md
!*.vcxproj
!*.filters
!*.fx
!*.ASE
!*.cfg